{#
 # FieldPrime base template.
 # It has separate header, content, and footer sections.
 # The header section displays logo, a menu and login management.
 # The content section must be supplied by the extending template
 # in a "content" block variable.
 # The footer shows a copyright notice.
 #
 # Context variables used:
 # title
 # g.userName
 #
 # Block variables used:
 # content
 # javascript
 #}

<!doctype html>
<html>
<head>
  <script>{% block javascript %}{% endblock %}</script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='fpStyle.css') }}">
  <title>{{ title }}</title>
</head>
<body>

  <!-- Header: ------------------------------------------------------------------------------>
  <div id="header">
    <img src="{{ url_for('static', filename='fpIcon.png') }}">
    <b>CSIRO FieldPrime Server</b><br>

    {# Determine if anyone is logged in: #}
    {% set loggedIn = (g.userName and g.userName != 'unknown') %}

    {# Login fields, or name of logged in user and logout button: #}
    <div id="loginout">
      {% if not loggedIn %} <!-- If there is NO user logged in: -->
      <FORM method="POST" action="{{ url_for('main') }}">
        <b>Signin:</b>
        User name: <input type="text" name="username">
        Password: <input type=password name="password">
        <input type="submit" value="Login">
      </FORM>
      {% else %} <!-- If there IS a user logged in: -->
      Logged in as {{g.userName}}
      <button  onClick="window.location=' {{ url_for('logout') }}'">Logout</button>
      {% endif %}
    </div>

    {#
    Header Menu - note Home href depends on login state.
    Note also we assume that if variable pagename is defined then
    it specifies the page, and if not defined we are on the Home menu options
    #}
	<ul id="headerMenu">

      {# Add UserData page if use is logged in: #}
      {% if loggedIn %}
	  <li {% if pagename is not defined %} class="active" {% endif %}>
        <a href={{ url_for('userHome', userName=g.userName) }}>User Data</a>
      </li>
      {% endif %}

	  <li {% if pagename == 'fieldprime' %}class="active"{% endif %}><a href="{{ url_for('infoPage', pagename='fieldprime') }}">FieldPrime</a></li>
	  <li {% if pagename == 'news' %}class="active"{% endif %}><a href="{{ url_for('infoPage', pagename='news') }}">News</a></li>
	  <li {% if pagename == 'about' %}class="active"{% endif %}><a href="{{ url_for('infoPage', pagename='about') }}">About</a></li>
	  <li {% if pagename == 'contact' %}class="active"{% endif %}><a href="{{ url_for('infoPage', pagename='contact') }}">Contact</a></li>
    </ul>
  </div>
  <!-- <hr> -->

<!-- Content: ------------------------------------------------------------------------------->
{% block content %}{% endblock %}

<!-- Footer: -------------------------------------------------------------------------------->
<div id="footer">
  &copy; 2014 CSIRO
</div>

</body>
</html>

