<HTML>
<HEAD>
<script src="{{ url_for('static', filename='fp.js') }}"></script>
<script>{% block javascript %}{% endblock %}</script>
<TITLE>{{ title }}</TITLE>
</HEAD>
<BODY>
<h1>Field Prime Server Management</h1>
{% block homeAndLogin %}
<a href='{{g.rootUrl}}?op=home'>Home</a>
<button style="color: red" onClick="window.location='{{g.rootUrl}}'">Login as Different User</button>
{% endblock %}
<hr>


<!-- Body: -->
{% block content %}{% endblock %}

<!-- Footer: -->
<hr>
<a href=\"mailto:***REMOVED***?subject=Field Prime Management Server\">Contact Webmaster</a>
</BODY>
</HTML>

