{% extends "base.html" %}
{% block content %}
	<div id="contents">
		<div id="about">
			<h1>Contact</h1>
			<h2>FieldPrime Software</h2>
			<p>
              For any questions or issues please contact:
              <p><a href="mailto:***REMOVED***?subject=FieldPrime Management Server">Dr Michael Kirk</a><br>
                Computational Biology<br>
                CSIRO Plant Industry<br>
                +61 2 6246 4519 <br>
			</p>
            Please feel free to request new features, report a bug, or ask any question..
		</div>
	</div>
{% endblock %}
