{% extends "base.html" %}
{% block contact %}
class="active"
{% endblock %}
{% block content %}
	<div id="contents" class=infoText>
		<div id="about">
			<h1>Welcome to FieldPrime</h1>
			<h2>FieldPrime Software</h2>
            <p>
            FieldPrime is a software suite designed to ease the process of
            manual collection and collation of data. Its original use
            was to collect phenotype data for large field trials of
            wheat varieties.
            <p> The software consists of the FieldPrime Android app -
            which is used for the data collection - and the FieldPrime
            Server, which is used to store and manage the trial data.


		</div>
	</div>
{% endblock %}
