{% extends "base.html" %}
{% block homeAndLogin %}
{#
  Blank because we do not want to show home and login button in login screen.
  These are otherwise shown by default at the top of the page.
#}
{% endblock %}
{% block content %}
<CENTER>
<FORM method="POST" action="{{ g.rootUrl }}">
<paragraph> Enter your login name: <input type="text" name="username">
<paragraph> Enter your password: <input type=password name="password">
<paragraph> <input type="submit" value="Connect">
</FORM>
</CENTER>
</form>
{{ msg }}
{% endblock %}
