{% extends "base.html" %}
{% block news %}
class="active"
{% endblock %}
{% block content %}
	<div id="contents" class=infoText>
		<div class="main">
			<h1>News</h1>
			<ul class="news">
                <li>
                    <div class="date">
                        <p>
                            <span>18/6</span>
                            2014
                        </p>
                    </div>
                    <h2>Deleting Trials<span>Michael Kirk</span></h2>
                    <p>
                        User can now delete unwanted trials. When you select a trial, there
                        is a "Delete This Trial" button near the top of the page. You will
                        be asked to confirm, and re-enter your password, just to be sure.
                        Note deleting a trial means all scores, traits, etc created for that
                        trial will be lost - so use with caution!
                        <!-- If you need to link to more..
                        <span><a href="??.html" class="more">Read More</a></span>
                        -->
                    </p>
                </li>

				<li>
					<div class="date">
						<p>
							<span>25/2</span>
							2014
						</p>
					</div>
					<h2>Please add your contact details <span>Michael Kirk</span></h2>
					<p>
						For users with a login, there's now a place to add a contact name
                        and email address for the account (under the "Profile/Passwords" link
                        on the left hand side once you log in). Please add a name and email
                        address here so that we can contact you if necessary.
                        <!-- If you need to link to more..
                        <span><a href="??.html" class="more">Read More</a></span>
                        -->
					</p>
				</li>

				<li>
					<div class="date">
						<p>
							<span>14/2</span>
							2014
						</p>
					</div>
					<h2>New website look <span>Michael Kirk</span></h2>
					<p>
						Added this news section, contact page and so on.
                        <!-- If you need to link to more..
                        <span><a href="??.html" class="more">Read More</a></span>
                        -->
					</p>
				</li>

				<li>
					<div class="date">
						<p>
							<span>7/2</span>
							2014
						</p>
					</div>
					<h2>FieldPrime app version 0.1 released <span>Michael Kirk</span></h2>
					<p>
					  New version of the app with quite a few changes,
					  including:
                      <ul>
                        <li>
                          When you open a trial, there is now a browse
                          mode as well as a score mode, the browse
                          mode allows you to view all the current
                          scores and notes on the device (or some
                          subset of them you can select), and the
                          score mode is as it was before. You swipe
                          the screen left or right to switch between
                          these.
                        <li>
                          The number of property widgets can be
                          modified. By default it is still 2, but you
                          can change this from a menu accessed by
                          touching the FieldPrime logo in the top left
                          of the screen.
                      </ul>
					</p>
				</li>

			</ul>
		</div>
	</div>
{% endblock %}
