{% extends "base.html" %}
{% block news %}
class="active"
{% endblock %}
{% block content %}
	<div class="fpInfoText">
		<div class="fpNewsMain">
			<h1>News</h1>
			<ul class="fpNewsList">
                <li>
                    <div class="fpNewsDate">
                        <p>
                            <span>03/6</span>
                            2015
                        </p>
                    </div>
                    <h2>Alternates to "Row" and "Column"<span>Michael Kirk</span></h2>
                    <p>
                        You can now use alternate names for "Row" and "Column" in your trials:
                        Under the trial "Properties" tab enter alternate values appropriate for
                        your needs (for example "Range" and "Run"). These options are also there
                        on the New Trial page, so when create a trial via a CSV file, the file can
                        contain your preferred names.
                        <p>
                        These options have to be set on a per trial basis - if not set, the default
                        values "Row" and "Column" still apply. In the future these will probably become
                        configurable on a project basis - to apply to all trials in a project.
                        <p>
                        Note that to see the new names on the app itself, you will need to update to the
                        latest app version - 1.0.4.


                        <!-- If you need to link to more..
                        <span><a href="??.html" class="more">Read More</a></span>
                        -->
                    </p>
                </li>

                <li>
                    <div class="fpNewsDate">
                        <p>
                            <span>03/6</span>
                            2015
                        </p>
                    </div>
                    <h2>Better mobile support for server<span>Michael Kirk</span></h2>
                    <p>
                        We've had another makeover of sorts - primarily to better support
                        using the server from small screened mobile devices. Please let me know
                        if you find any issues..
                        <!-- If you need to link to more..
                        <span><a href="??.html" class="more">Read More</a></span>
                        -->
                    </p>
                </li>

                <li>
                    <div class="fpNewsDate">
                        <p>
                            <span>25/5</span>
                            2015
                        </p>
                    </div>
                    <h2>New app version v1.0.2<span>Michael Kirk</span></h2>
                    <p>
                        An updated app version is available. This is not significantly different from
                        the previous version (v1.0.1) except for a bug fix. In the previous version dynamic
                        traits were not functioning properly on the app. You couldn't navigate between the
                        multiple scores in a dynamic trait if that trait was the first one in the set of
                        scoring traits. This is fixed in the new version.

                        <!-- If you need to link to more..
                        <span><a href="??.html" class="more">Read More</a></span>
                        -->
                    </p>
                </li>

                <li>
                    <div class="fpNewsDate">
                        <p>
                            <span>18/3</span>
                            2015
                        </p>
                    </div>
                    <h2>ScoreSet plots<span>Michael Kirk</span></h2>
                    <p>
                        On the page for any numeric score set sample (accessed from the ScoreSets tab)
                        there are now a few plots shown for the data: A box and whiskers plot, a histogram,
                        and a scatter plot for which you can specify any numerical attribute in the trial to
                        plot against. Feedback on these, or ideas for other plots are welcome..

                        <!-- If you need to link to more..
                        <span><a href="??.html" class="more">Read More</a></span>
                        -->
                    </p>
                </li>

                <li>
                    <div class="fpNewsDate">
                        <p>
                            <span>12/1</span>
                            2015
                        </p>
                    </div>
                    <h2>***REMOVED*** users<span>Michael Kirk</span></h2>
                    <p>
                        The FieldPrime server now supports ***REMOVED*** users. What this means is that instead
                        of everyone in a project using the same project name and password to login, you can instead
                        use (if you have one) your CSIRO ***REMOVED*** identity. To allow a ***REMOVED*** user to login using
                        their own ident and password, first you must login with the usual project login, go
                        to administration page and add users in the "Manage ***REMOVED*** Users" section. This also means
                        that if you have access to multiple projects, you can access all of them via a single
                        ***REMOVED*** login (via a dropdown list of projects you have access to at the top of the FieldPrime
                        pages).

                        <!-- If you need to link to more..
                        <span><a href="??.html" class="more">Read More</a></span>
                        -->
                    </p>
                </li>

                <li>
                    <div class="fpNewsDate">
                        <p>
                            <span>12/1</span>
                            2015
                        </p>
                    </div>
                    <h2>Makeover<span>Michael Kirk</span></h2>
                    <p>
                        FieldPrime has had a makeover - with some inspired graphic design work by Raj Gaire.

                        <!-- If you need to link to more..
                        <span><a href="??.html" class="more">Read More</a></span>
                        -->
                    </p>
                </li>

                <li>
                    <div class="fpNewsDate">
                        <p>
                            <span>9/9</span>
                            2014
                        </p>
                    </div>
                    <h2>Version 0.2.3<span>Michael Kirk</span></h2>
                    <p>
                        New app version (0.2.3) is available from the Download App page. There
                        are a few bug fixes and improvements here. One improvement is that
                        now to export, update, or delete a trial, you can do a long press on
                        the trial name in the trial list on the main FieldPrime screen. (This
                        is a bit more convenient than using the menus).
                        <p>
                        As usual you may need to delete the FieldPrime folder on your device.
                        So make sure you have uploaded everything before upgrading!
                        <!-- If you need to link to more..
                        <span><a href="??.html" class="more">Read More</a></span>
                        -->
                    </p>
                </li>

                <li>
                    <div class="fpNewsDate">
                        <p>
                            <span>1/8</span>
                            2014
                        </p>
                    </div>
                    <h2>Version 0.2.1<span>Michael Kirk</span></h2>
                    <p>
                        New app version (0.2.1) available from the Download App page. There
                        are a few small changes in here, but in particular the upload of photos
                        from the app has been improved. This version does include changes to
                        the database on the app. Which means before installing, please upload
                        any data you haven't yet uploaded, and then delete the FieldPrime database
                        on the device.
                        <!-- If you need to link to more..
                        <span><a href="??.html" class="more">Read More</a></span>
                        -->
                    </p>
                </li>

                <li>
                    <div class="fpNewsDate">
                        <p>
                            <span>18/6</span>
                            2014
                        </p>
                    </div>
                    <h2>Deleting Trials<span>Michael Kirk</span></h2>
                    <p>
                        User can now delete unwanted trials. When you select a trial, there
                        is a "Delete This Trial" button near the top of the page. You will
                        be asked to confirm, and re-enter your password, just to be sure.
                        Note deleting a trial means all scores, traits, etc created for that
                        trial will be lost - so use with caution!
                        <!-- If you need to link to more..
                        <span><a href="??.html" class="more">Read More</a></span>
                        -->
                    </p>
                </li>

				<li>
					<div class="fpNewsDate">
						<p>
							<span>25/2</span>
							2014
						</p>
					</div>
					<h2>Please add your contact details <span>Michael Kirk</span></h2>
					<p>
						For users with a login, there's now a place to add a contact name
                        and email address for the project (under the "Profile/Passwords" link
                        on the left hand side once you log in). Please add a name and email
                        address here so that we can contact you if necessary.
                        <!-- If you need to link to more..
                        <span><a href="??.html" class="more">Read More</a></span>
                        -->
					</p>
				</li>

				<li>
					<div class="fpNewsDate">
						<p>
							<span>14/2</span>
							2014
						</p>
					</div>
					<h2>New website look <span>Michael Kirk</span></h2>
					<p>
						Added this news section, contact page and so on.
                        <!-- If you need to link to more..
                        <span><a href="??.html" class="more">Read More</a></span>
                        -->
					</p>
				</li>

				<li>
					<div class="fpNewsDate">
						<p>
							<span>7/2</span>
							2014
						</p>
					</div>
					<h2>FieldPrime app version 0.1 released <span>Michael Kirk</span></h2>
					<p>
					  New version of the app with quite a few changes,
					  including:
                      <ul>
                        <li>
                          When you open a trial, there is now a browse
                          mode as well as a score mode, the browse
                          mode allows you to view all the current
                          scores and notes on the device (or some
                          subset of them you can select), and the
                          score mode is as it was before. You swipe
                          the screen left or right to switch between
                          these.
                        <li>
                          The number of property widgets can be
                          modified. By default it is still 2, but you
                          can change this from a menu accessed by
                          touching the FieldPrime logo in the top left
                          of the screen.
                      </ul>
					</p>
				</li>

			</ul>
		</div>
	</div>
{% endblock %}
