{% extends "dataPage.html" %}

{% block dataContent %}
{% set divName = 'traitTypeSpecificsDiv' %}
<script src="{{ url_for('static', filename='newTrait.js') }}"></script>
<div id="attributeData" data-attributes="{{attributesList}}">
  <form enctype="multipart/form-data"
        onsubmit="return fpTrait.validateNewTraitForm('{{divName}}')"
        method="post">
    <fieldset>
      <legend><h3>Create New {% if trialId == -1 %}System{% else %}Trial{% endif %} Trait</h3></legend>
      <div class="userInputForm">
        <table>
          <tr>
            <td >
              <label>Caption<span class="small">Add a short trait name</span></label>
            </td>
            <td>
              <input type="text" id='cap_id' name="caption">
            </td>
          </tr>
          <tr>
            <td align="right">
              <label>Description</label>
            </td>
            <td>
              <input type="text" name="description">
            </td>
          </tr>
          <tr>
            <td>
              <label>Trait Type</label>
            </td>
            <td>
              <select id='traitType' name='type'
                                      onchange="fpTrait.setTraitFormElements('{{divName}}',this.options[selectedIndex].value)">
                    <option value="-1" name="none">..Select a Trait Type..</option>
                    {% for typ, value in traitTypes.iteritems() %}
                    <option value="{{value|e}}" name={{typ|e}}>{{typ|e}}</option>
                    {% endfor %}
              </select>
            </td>
          </tr>
        </table>
        <div id="{{divName}}">
           <!-- type specific fields added here -->
        </div>
        <p><input type="submit" value="Create Trait">
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}


