{# dataPageWithHelp.html
 # Provides three blocks:
 # dataContentTop
 # dataContentMain
 # dataHelpText
 #}

{% extends "dataPageWithHelp.html" %}

{% block dataContentTop %}
  <h2>Create New Trial</h2>
{% endblock %}

{% block dataContentMain %}
{# Validation function for the form: #}
<script>
function validateTrialForm() {
  var cap = document.getElementById("name_id").value;
  if (cap == null || cap == "") {
    alert("Please provide a trial name");
    return false;
  }
  var fname = document.getElementById("uploadFile_id").value;
  if (fname == null || fname == "") {
    alert("Please provide a trial plan file");
    return false;
  }
}
</script>

<form enctype="multipart/form-data"
  onsubmit="return validateTrialForm()"
  method="post">
  <div class="userInputForm">
    <fieldset>
      <table>
        <tr>
          <td >
            <label>Name<span class="small">Add a trial name (mandatory)</span></label>
          </td>
          <td >
            <input type="text" id='name_id' name="name">
          </td>
        </tr>
        <tr>
          <td >
            <label>Site<span class="small">(optional)</span></label>
          </td>
          <td >
            <input type="text" name="site"><br>
          </td>
        </tr>
        <tr>
          <td >
            <label>Year<span class="small">(optional)</span></label>
          </td>
          <td >
            <input type="text" name="year"><br>
          </td>
        </tr>
        <tr>
          <td >
            <label>Acronym<span class="small">(optional)</span></label>
          </td>
          <td >
            <input type="text" name="acronym"><br>
          </td>
        </tr>
        <tr>
          <td >
            <label>Trial Plan CSV File<span class="small">List of trial nodes, and attributes (mandatory)</span></label>
          </td>
          <td >
            <input type="file" id='uploadFile_id' name="file">
          </td>
        </tr>
      </table>
      <input type="submit" value="Upload">
    </fieldset>
  </div>
</form>
{% endblock %}

{% block dataHelpText %}
To create a trial you must, at a minimum, provide a name, and a list
of nodes for the trial. You can also provide a site, year, or
acronym for the trial if you wish. The list of nodes must be
provided as a comma separated (CSV) file, which must have the
following format:
<dl>
  <dt>First line</dt><dd>Column Headers. There can be any number of
    columns, but there must be a "row" and a "column" column, since
    each node is identified by a row and column number.</dd>
  <dt>Subsequent lines</dt><dd>Trial Nodes. Each line after the header line
    identifies and describes one trial node. A node is identified by
    its row and column values. Any values in other columns will be
    stored as attribute values for the node (for the attribute
    identified by the column header).
{% endblock %}


