{% extends "dataPage.html" %}

{% block dataContent %}
<font color="red">{{msg}}</font>
<h2>Upload ScoreSets</h2>
<div class="fpNotTooWide fpInfoText">
<p>
Select a CSV file containing score data for the trial.

The file must be comma separated, with a single line of headers, then data rows (no empty rows allowed).

The first 1 or 2 columns determine the node (plot).  There are 3 options here:
<dl>
<dt><strong>Option 1:</strong>
<dd>First column is labelled 'barcode' and this refers to the barcode attribute (loaded up
with the trial design).</dd>
<dt><strong>Option 2:</strong>
<dd>First 2 columns are the row and column (or whatever they are renamed as, eg Range
and Row)</dd>
<dt><strong>Option 3:</strong>
<dd>First column is an attribute name (eg RecId). And the value of this attribute must uniquely
identify the node (plot)</dd>
</dl>

After these first 1 or 2 columns, comes the score data. For a single score set, this
will be first a column headed by the trait name (trait must exist already) with the
values below it.  After this column, you can optionally 1 to 4 columns for the metadata:
user, time, latitude, longitude. The column headers here must be the trait name, then
a colon, then the metadata type.  Eg ginTrait:user, ginTrait:time, ginTrait:latitude, or
ginTrait:longitude.
</div>
<div>
<form enctype="multipart/form-data"
  action=""
  method="post">
<p><strong>Score data file:</strong><input type="file" id='uploadFile_id' name="file"></p>
<p><input type="submit" value="Upload"></p>
</form>
</div>
{% endblock %}
