{% extends "dataPage.html" %}

{% block dataContent %}
<font color="red">{{msg}}</font>
<h2>Reload Attributes</h2>
<div class=not_too_wide>
Select a file containing attribute data for the trial.
The file should have a similar format as the original trial upload file.
It should be CSV, with a single header row, providing a name for each column,
and then one line for each node in the trial (for which attributes are to be
added). There must be columns for "row" and "column", to identify each node.
And every other column will be assumed to be an attribute to be either added,
or to overwrite an existing attribute of the same name. 
</div>
<form enctype="multipart/form-data"
  onsubmit="return ValidateTraitForm()"
  method="post">

<p>Trial Plan CSV File: <input type="file" id='uploadFile_id' name="file"></p>
<p><input type="submit" value="Upload"></p>

</form>
{% endblock %}
