/**** Including here what was css/style.css:  ***********************************/

/* Website template by freewebsitetemplates.com */
/*------------------------- Layout styles ------------------------*/
body{
    margin:0;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 85%;
}

a{
    font-family: Verdana, Geneva, sans-serif;
    text-decoration: none;
    color: #00313C;
}

a:hover{
    text-decoration: underline;
    color: #000;
}

h1{
    color: #022C38;
}

h2{
    color: #022C38;
}

h3{
    color: #0F4A84;
}
/*------------------------- Font ------------------------*/
@font-face {
    font-weight: normal;
    font-style: normal;
}

/*------------------------- Header ------------------------*/


/*
 * class dataHeader
 * For the top part of the page when user is logged in.
 */
.dataHeader {
    width: 100%;
    min-width: 800px;  /* It looks a bit better with min width, but maybe not good for mobile. */
    /*height: 80px;*/
    background: white;
    z-index: 1000;
}
.header {
    width: 100%;
    height: 80px;
    background: white;
    z-index: 1000;
}

.banner-container {
    width: 992px;
    margin: 0 auto;
}

.banner {
    float: left;
    width: 100%;
    background: #ffffff url("images/dark-blue-banner.png") no-repeat 70% 0;
}

.brand {
    float: left;
    margin: 12px 0 0 20px;
}

.brand .logo {
    float: left;
    position: relative;
    padding: 0;
    margin: 0;
}

.brand h2 {
    float: left;
    width: 58px;
    height: 58px;
    padding: 0;
    margin: 0;
    background: url("images/logo.png") no-repeat;
    background-size: 58px;
}

.brand .title {
    float: right;
    padding: 15px;
    color: white;
    font-size: large;
}

.fixed-menu a, .fixed-menu a:hover {
    color: #ffffff;
    text-decoration: none;
}

.fixed-menu .menu ul {
    padding: 0px;
}

.fixed-menu .menu ul li {
    float: left;
    padding: 0px 0px 0px 20px;
    margin: 0px;
}

.banner .fixed-menu .menu ul li.last {
    background:none;
}

.fixed-menu {
    float: right;
    padding: 20px 20px 0px 0px;
    margin: 0px -1px 0px 0px;
}

li.mega-menu {
    float: none;
    display: block;
    padding: 0px;
    margin: 8px 0px 8px 0px;
    font-weight: normal;
}

li.mega-menu a:hover {
    text-decoration: underline;
}

.navigation {
    float: left;
    height: 41px;
    width: 100%;
    background: url("images/grey-gradient.jpg") repeat-x 0 0;
}

/*
This was causing bad behaviour for the search box on a datatable (scoreset browse)
label { display: inline-block; width: 140px; text-align: left; }*/
​label { width: 140px; text-align: left; }


/*------------------------- Footer ------------------------*/
#footer{
    bottom: 0;
    width:100%;
    background: #023;
    color: white;
    position: fixed;
}

.footerContent {
    width: 1024px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
}
.left {
    float: left;
}
.clear {
    clear: both;
}

.box {
    position: fixed;
    right: 10px;
    width: 200px;
    top: 100px;
    bottom: 40px;
    margin: 0px;
    font-size: 10px;
    overflow-y: scroll;
    padding-left:10px;
    border-left: 1px solid #eee;

}
* html .box {
    position: absolute;
}



.name {
    color: #3B5998;
}
#addStory{
    margin:0 auto;
    overflow:hidden;
    color: #444;
    border-radius: 5px;
    background-color: #EDEFF4;
    border-bottom: 1px solid #D2D9E7;
    margin-top: 1px;
    padding: 5px 5px 4px;

}


/*------------------------- Dragable ------------------------*/
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.column {
    height: 150px;
    min-width: 200px;
    float: left;
    border: 2px solid rgba(234, 244, 244, 0.6);
    background-color: rgba(229, 204, 238, 0.12);
    margin-right: 5px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px #000;
    -ms-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000;
    text-align: center;
    cursor: move;
}
.column header {
    color: #fff;
    text-shadow: #000 0 1px;
    box-shadow: 5px;
    padding: 5px;
    background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    background: -webkit-gradient(linear, left top, right top,
    color-stop(0, rgb(0,0,0)),
    color-stop(0.50, rgb(79,79,79)),
    color-stop(1, rgb(21,21,21)));
    background: -webkit-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    border-bottom: 1px solid #ddd;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -ms-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -ms-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}
.column.over {
    border: 2px dashed #000;
}

.keywords {
    color: #ccc;
    font-style: italic;
    font-size: small;
}

/* zebra stripes */
.zstripe {
   background: #ececec;
}

/* fancy text input boxes */
.fancy {
    border: 2px solid #ccc;
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 2px;
    background: rgba(255,255,255,0.5);
    margin: 1px 0 1px 0;
    width: 100%;
}

.prompttext {
    text-align: right;
}

.warnings {
    font-size: large;
}

.warningCode {
    margin-top: 10px;
    font-family: monospace;
    font-size: small;
}

/* used in file uploader */

.hidden{
    display: none !important;
    visibility: hidden !important;
}

#filesbox {
    width: 100%;
    margin: 20px auto;
}

#filesbox p {
    margin: 10px;
    font-size: 14px;
}

#file_uploader_box {
    text-align: center;
    border: 4px solid #01A9CE;
    border-radius: 10px;
    color: #01A9CE;
    margin: 10px;
}

#file_uploader_box h4{
    margin: 0;
    padding: 10px;
}

.panel-default {
    border-color: #dddddd;
}

/*** end of included css/style.css ******************************************************************/


.banner{
    background: #023;
}

.banner-container{
    width: 100%;
}

.dataTables_scrollHeadInner{
    padding: 0 ! important;
}
.header{
    border-left: 1px solid #023;
    border-right: 1px solid #023;
}

.dataTables_length{
    padding: 10px 0;
}

button, input[type=submit], input[type=button] {
    color: white!important;
    background-color: #022C38;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    text-transform: capitalize;
}

table.fptable, table.fptable tr{
    border: 1px solid black;
}

.fptable th{
    background-color: #022C38 ! important;
    color: #fff;
    padding: 10px;
}

.fptable td{
    border-top: 1px solid #aaa;
    padding: 10px;
}

table.fptable{
    margin: 0 ! important;
    border-radius: 5px;
}


/*
 * not_too_wide
 * Eg to limit length of text lines.

.not_too_wide {
    max-width: 500px;
}
*/
/*** header: *********************************************************
 * Style for the header across the top of all pages.
 */
#header {
	background-color: #eeeeee;
	border-bottom: 1px solid #000000;
	padding: 10px 0px;
    height:100px;
}

#header img{
    float: left;
    height:100px;
    width:100px;
}

/*-- HeaderMenu: ---------------------------------------*/
#headerMenu {
    white-space: nowrap;
	list-style: none;
	margin: 0;
	padding: 0;
}
#headerMenu > li {
    /* Note we want this menu horizontal, this can be achieved with "float:left",
     * but then the menu will wrap if browser window is made too narrow. So instead
     * we are using "display:inline-block", in conjunction with the "white-space:nowrap"
     * in the parent. This works, except the menu items get an extra separation added between
     * them, which is - to some extent - fixed by the negative right margin command.
     * See http://stackoverflow.com/questions/13092143/prevent-css-horizontal-drop-down-menu-from-wrapping.
     */
	width: 100px;
    display: inline-block;
    margin: 0 -3px 0 0;
}
#headerMenu li a {
	color: #818181;
	/*font-size: 15px;*/
	line-height: 30px;
	text-decoration: none;
}
#headerMenu li a:hover {
	color: #000000;
}
#headerMenu li.active a {
	color: #f99600;
}

/*------------------------------ CONTENTS ------------------------------*/
#contents {
	/* min-height: 510px;*/
	width: 990px;
	margin: 0 auto;
	padding: 30px 30px 60px;
	list-style: none;
}
.date {
	float: left;
	height: 78px;
	width: 70px;
	margin-right: 20px;
	border: 1px solid #d5d5d5;
	text-align: center;
}
.date p {
	margin: 12px 0 0;
    line-height: normal! important;
}
.date p span {
	display: block;
	font-size: 30px;
	margin-bottom: 6px;
}

/** main  This all for news page alone it seems. sidebar not used **/
.main {
	float: left;
	background: url(../images/divider.png) repeat-y right top;
	min-height: 100px;
	padding: 0 20px 50px 0;
    margin: 0 20px;
}

.main h2 span {
	display: block;
	font-size: 12px;
}

/*** news: ********************************/
.news {
	list-style: none;
    padding: 0;
}
.news>li {
	border-top: 1px solid #d5d5d5;
	padding: 24px 30px 0 100px;
	position: relative;
}
.news>li>li {
	border-top: 1px solid #d5d5d5;
	padding: 24px 30px 0 100px;
	position: relative;
}
.news li .date {
	float: none;
	position: absolute;
	left: 0;
	top: 30px;
}
.news li > p span, .post > span {
	display: block;
	text-align: right;
}
.news li {
	color: #585858;
}

/* these infoText should be merged if possible */
/*** infoText: ***/
.infoText p  {
      color: #585858;
      font-size: 16px;
      line-height: 24px;
      margin: 0 0 30px;
}
.infoText p a {
      color: #585858;
}

/* Class fpInfoText is used in 3 pages, news.html, about.html, and fieldprime.html
 * The border-bottom draws a nice line under a H1 (of which there is only 1 on each
 * of these pages).
 */
.fpInfoText {
    margin: 0 20px;
}
.fpInfoText h1 {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 12px;
}


/*******************************************/

h1 {
	color: #3e3e3e;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	margin: 0 0 30px;
}
h2 {
	color: #2c2c2c;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 12px;
}


#contents .features {
	width: 810px;
	margin: 0 auto;
}
.features > div {
	display: inline-block;
	margin: 0 0 30px;
}
.features > div img {
	float: left;
	margin-right: 20px;
	margin-top: 36px;
}

.description {
    color: #585858;
}


.contact {
	background-color: #f8f8f8;
	width: 270px;
	padding: 124px 60px;
	text-align: center;
}
.contact p span {
	color: #2c2c2c;
	display: block;
	font-size: 30px;
	line-height: 36px;
	padding: 18px 0;
}

/*** footer: ********************************/
#footer {
    clear:both;
	border-top: 1px solid #000000;
	padding: 10px 20px;
    height:30px;
}

/*** data pages: ****************************************
 *
 * The data section may be multiple columns side by side.
 * To have these equal height, we are using css tables.
 * dataWrapper is the table, and the columns (table-cells)
 * are dataLeftBar, dataContent, and dataContentHelp
 *
 */

.fred {
    height:100px;
    background-color:yellow;
}
#dpwhWrapper {
    width: 100%;
    display:table;
    word-wrap: normal;
    overflow: hidden;
}
#dpwhWrapperMain {
    display:table-cell;
}
#contentWrapper {
    display:table
}
#dataWrapper {
    overflow: hidden;
    display: table;  /* Using table so as to get equal column height. */
    /*border: solid 1px*/
    /*overflow: auto; /* so the size of the wrapper is alway the size of the longest content */
    min-height: 510px;
    /* width: 100%; */
    /*margin: 0 auto;   /* This causes the div to be centered. */
    padding: 20px;
    list-style: none;
}

#dataLeftBar {
    width: 100%;
    min-width: 150px;
    /* display: table-cell; */
    vertical-align: top;    /* without this, vertical position is affected by html in
                             * dataContent (when using tables for equal column heights)
                             */
    word-wrap: break-word;
    /* background: #eeeeee;
    padding-top: 20px;
    padding-bottom: 50px;*/
    /*float: left; an alternative to tables, but don't get equal column height*/
}

#dataLeftBar a{
    margin: 0 7px;
    font-size: smaller;
    /*padding: 5px 10px;
     background-color: #022C38;
    color: white;
    border: 2px solid black;
    border-radius: 10px;    */
}

#dataLeftBar ul{
    padding-left: 40px;
}

#dataLeftBar li{
    display: block;
    float: left;
    width: auto;
    min-width: 200px;
    text-align: left;
    margin-bottom: 10px;
}

#dataLeftBar li:before{
    content: "\f10c";
    text-align: center;
}

#dataLeftBar li.selected, #dataLeftBar li.selected a{
    color: red;
}

#dataLeftBar li.selected:before,
#dataLeftBar li.selected:hover:before
{
    content: "\f14a";
    text-align: center;
}

#dataLeftBar li:hover:before{
    content: "\f111";
    text-align: center;
}

#dataLeftBar hr{
    clear:both;
}

#trialData_wrapper{
    /* width:98%;*/
}

#trialData_wrapper label{
    width: auto;
}


/* Make the username and password inputs line up nicely on the login page: */
#loginout label { display: inline-block; width: 140px; }

.dataContent {
    /* display: table-cell; */
    vertical-align: top;
    width: 100%;
    padding: 15px 0 40px;
    word-wrap: normal;
    overflow: hidden;
    clear: both;   /* Prevent Firefox overlapping this div with dataLeftBar */
}

.dataContentHelp{
    vertical-align: top;
    color:#fff;
    background: #eee;
    width: 950px;
    min-width: 250px;
    padding: 20px;
    display: block;
    position: absolute;
    top: 230px;
    opacity: 0.9;
}

fieldset{
    margin-bottom: 30px;
    padding: 20px;
}

/* This is a div containing the help button.
 * The button itself is styled as #helpButton below
 */
.dataContentHelpButton{
    vertical-align: top;
    display: table-cell;
    color:green;
    width:100pc;  /* NB, pc is NOT percent, but one sixth inch, so this is
                   * just a big value to force the button over to the right.
                   */
    min-width: 250px;
    padding-bottom: 20px;
    /*
    padding-top: 20px;
    padding-left: 10px; */
}

#helpButton {
    padding: 4px;  /* does nothing */
    /*width: 230px;
     width:100%
    height:100%*/
    float:right;
    background: red;
}

.dataContentTop {
    /*background-color:pink;*/
}
/*
.dataContentTop button {
    align:right;
    background:#111111;
}
*/

/*** user input forms: ******************************************/

.userInputForm button{
    clear:both;
    margin-left:150px;
    width:125px;
    height:31px;
    background:#666666 url(img/button.png) no-repeat;
    text-align:center;
    line-height:31px;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
}

.userInputForm td{
    vertical-align:top;
}

.userInputForm label{
    display:block;
    /*font-weight:bold;*/
    text-align:right;
    vertical-align:top;
    width:140px;
    float:left;
}

.userInputForm .small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:140px;
}

.userInputForm input:not(.nostyle),
.userInputForm select
.uifDiv
{
    float:left;
    /*font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;*/
    width:200px;
    margin-top:2px;
    margin-right:0;
    margin-bottom:20px;
    margin-left:10px;
}

/* Problem here is that there may not be a single input element.
 * radio buttons for example. We probably want some container class.
 */
.userInputForm input[type="radio"] {
    margin-top:2px;
    margin-right:3px;
    margin-bottom:20px;
    margin-left:10px;
}


/*** Tabs: ********************************************************************/
/* Now all done from java script, except the hover, which we don't really need
/*body { font-size: 80%; font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif; }*/
/*
ul#tabs { list-style-type: none; margin: 30px 0 0 0; padding: 0 0 0.3em 0; }
ul#tabs li { display: inline; }
ul#tabs li a { color: #42454a; background-color: #dedbde; border: 1px solid #c9c3ba; border-bottom: none; padding: 0.3em; text-decoration: none; }
ul#tabs li a:hover { background-color: #f1f0ee; }
ul#tabs li a.selected { color: #000; background-color: #f1f0ee; font-weight: bold; padding: 0.7em 0.3em 0.38em 0.3em; }
div.tabContent { border: 1px solid #c9c3ba; padding: 0.5em; background-color: #f1f0ee; }
div.tabContent.hide { display: none; }

#headerMenu {
    white-space: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
#headerMenu > li {
    /* Note we want this menu horizontal, this can be achieved with "float:left",
     * but then the menu will wrap if browser window is made too narrow. So instead
     * we are using "display:inline-block", in conjunction with the "white-space:nowrap"
     * in the parent. This works, except the menu items get an extra separation added between
     * them, which is - to some extent - fixed by the negative right margin command.
     * See http://stackoverflow.com/questions/13092143/prevent-css-horizontal-drop-down-menu-from-wrapping.
     /
    width: 100px;
    display: inline-block;
    margin: 0 -3px 0 0;
}
#headerMenu li a {
    color: #818181;
    /*font-size: 15px;/
    line-height: 30px;
    text-decoration: none;
}
#headerMenu li a:hover {
    color: #000000;
}
#headerMenu li.active a {
    color: #f99600;
}

*/
/*
ul#tabs {
    list-style-type: none;
    white-space: nowrap;
    margin: 30px 0 0 0;
    padding: 0 0 0.3em 0;
}
/*
ul#tabs > li {
    //min-width: 120px;
    display: inline-block;
    margin: 0;
}
/*
ul#tabs li a {
    color: #42454a;
    min-width: 120px;
    display: block;
    //background-color: #dedbde;
    background-color: pink;
    border: 1px solid #c9c3ba;
    border-bottom: none;
    padding: 0.3em;
    text-decoration: none;
    margin: 0;
}
ul#tabs li a:hover { background-color: #f1f0ee; }

ul#tabs li a.selected {
    color: #000;
    background-color: #f1f0ee;
    font-weight: bold;
    padding: 0.7em 0.3em 0.38em 0.3em;
    //padding: 0.3em;
}

div.tabContent {
    border: 1px solid #c9c3ba;
    padding: 0.5em;
}
div.tabContent.hide {
    display: none;
}
*/
/******************************************************************************/
/*
.navbar {
min-height: 80px;
}
.navbar-inverse {
min-height: 80px;
}
*/
